@charset "utf-8";
/* CSS Document */
*{ box-sizing: border-box}

body { 
	background-color:white;
	margin: 0
}
.container-fluid{ width: 100%; padding: 0 15px}
.container{ 	width: 100%;	}

.col-1 {	width: 8.33%;}
.col-2 {	width: 16.66%;}
.col-3 {	width: 25%;	}
.col-4 {	width: 33.33%;}
.col-5 {	width: 41.66%;}
.col-6 {	width: 50%;	}
.col-7 {	width: 58.33%;}
.col-8 {	width: 66.66%;}
.col-9 {	width: 75%;}
.col-10 {	width: 83.33%;}
.col-11 {	width: 91.66%;}
.col-12 {	width: 100%;}
.row { display: flex; flex-wrap: wrap}
[class*="col-"] { 
  padding: 15px;
  border: 1px solid red;
}

.img-100{ width: 100%;  height: auto}   
.p-0{ padding: 0}     
.mx-auto{ margin-left: auto; margin-right: auto}
.text-center{ text-align: center}
.text-right{ text-align: right}
.align-center{ align-items: center}
.justify-between{ justify-content: space-between}
.justify-center{ justify-content: center}
.border-chan{ border-bottom: 2px solid #ddd}
/* khu vu75c code style cho thie61t bi5 lo71n ho7n 768px -ipad-mini*/
@media (min-width:768px)
{
	.container{ 	width: 720px; margin: auto}
	.col-md-1 {	width: 8.33%;	}
	.col-md-2 {	width: 16.66%;	}
	.col-md-3 {	width: 25%;	}
	.col-md-4 {	width: 33.33%;}
	.col-md-5 {	width: 41.66%;}
	.col-md-6 {	width: 50%;	}
	.col-md-7 {	width: 58.33%;}
	.col-md-8 {	width: 66.66%;}
	.col-md-9 {	width: 75%;}
	.col-md-10 {	width: 83.33%;}
	.col-md-11 {	width: 91.66%;}
	.col-md-12 {	width: 100%;}
}

/* style cho pc-desktop-------cở 1024px trở lên----*/
@media (min-width:1024px)
{
	.container{ 	width: 960px; margin: auto}
	.col-lg-1 {	width: 8.33%;	}
	.col-lg-2 {	width: 16.66%;	}
	.col-lg-3 {	width: 25%;	}
	.col-lg-4 {	width: 33.33%;}
	.col-lg-5 {	width: 41.66%;}
	.col-lg-6 {	width: 50%;	}
	.col-lg-7 {	width: 58.33%;}
	.col-lg-8 {	width: 66.66%;}
	.col-lg-9 {	width: 75%;}
	.col-lg-10 {	width: 83.33%;}
	.col-lg-11 {	width: 91.66%;}
	.col-lg-12 {	width: 100%;}
}



